.Password_Page2-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Password_Page2-section{
    height: 100vh;
    margin: auto;
    width:450px;
}

.Password_Page2-section h1{
    margin-top: 150px;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: left;
}

.Password_Page2-form p{
    color :#989898;
    font-size: 16px;
    text-align: left;
}

.input_digit input{
    width: 56px;
    height: 56px;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: solid #E1E1E1;
    
}

.input_digit input:not(:first-child){
    margin-left: 40px;
}

.Password_Page2-container img{
    height: 100vh;
    width: 805px;
    border: none;
    object-fit: cover;
}

.Password_Page2-container button{
    background-color: #3A5B22;
    border :  #3A5B22;
    font-weight: bold;
    font-family: 'Poppins';
    color: white;
    margin-top: 30px;
    height: 40px;
    width: 100%;
    padding: 10px; 
    border-radius: 10px;
    margin-bottom: 35px;
}

.resend-email a{
    text-decoration: none;
    color: #0F3DDE;
}

.resend-email p{
    font-family: 'Poppins';
    text-align: center;
}