.Signup-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Signup-form-section{
    display: block;
    height: 100vh;
    margin: auto;
    width:450px;
}

.Signup-form-section h1{
    margin-top: 60px;
    font-size: 50px;
    margin-bottom: 35px;
    text-align: center;
}

.Sign_up_from input , button{
    box-sizing: border-box; /*to have the same width and height*/
    height: 40px;
    width: 100%;
    padding: 10px; 
    border-radius: 10px;
    margin-bottom: 35px;
}

.Sign_up_from input{
    margin-top: 5px;
    border: solid #D9D9D9; /*border color and make it visible*/
}

.Sign_up_from button{
    border-radius: 10px;
    background-color: #3A5B22;
    border :  #3A5B22;
    font-weight: bold;
    font-family: 'Poppins';
    color: white;
    margin-top: 10px;
}

.Sign_up_from label{
    font-weight: bold;
}

.Signup-container a {
    text-decoration: none;
    color: #0F3DDE;
}

.Signup-container a, p{
    font-family: 'Poppins';
    text-align: center;
}

.Signup-container img{
    height: 100vh;
    width: 805px;
    border: none;
    object-fit: cover;
}


